@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bs-body-font-family: 'Poppins', sans-serif;
    --background: #FFFBF9;
    --white: #FFFFFF;
    --bronze: #4A2708;
    --crusta: #FE8337;
    --black: #000000;
    --silver: #C9C9C9;
    --selective-yellow: #FBBC0B;
    --white-lilac: #E8EAF6;
    --wireframe-bg: #E6E6E6;
    --logo-primary: #FE9343;
    --logo-secondary: #FFC16A;
}

* {
    font-family: var(--bs-body-font-family);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

.container {
    display: flex;
    max-width: 1440px;
    padding: 4rem 7rem;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

h1 {
    font-size: 3.5rem;
    font-weight: 700;
}

h2 {
    font-size: 2.188rem;
    font-weight: 700;
}

h3 {
    font-size: 1.625rem;
    font-weight: 600;
}

h4 {
    font-size: 1rem;
    font-weight: 500;
}

h5 {
    font-size: 0.75rem;
    font-weight: 400;
}

.text {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 160%;
}

/* Navbar */

header {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    position: fixed;
    background: transparent;
    transition: background 0.3s ease;
    list-style: none;
}

header.scrolled {
    background: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 7rem;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;

    transition: padding 0.3s ease-in-out;
}

.navbar ul li {
    list-style: none;
}

.navbar .navbar-menu {
    display: flex;
    align-items: flex-start;
    gap: 27px;
}

.navbar-item {
    color: var(--bronze);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;

    transition: color 0.3s ease-in-out;
}

.navbar-item::after {
    content: "";
    width: 0px;
    height: 4px;
    background: var(--crusta);
    border-radius: 8px;
    display: block;
    opacity: 0;
    margin: 0 auto;

    transition: opacity 0.3s ease-in-out, width 0.3s ease-in-out;
}

.navbar-item:hover::after,
.navbar-item:focus::after {
    width: 20px;
    opacity: 1;
}

.navbar .navbar-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.navbar-button .button-daftar {
    display: flex;
    padding: 8px 22px;
    justify-content: center;
    align-items: center;

    background-color: var(--selective-yellow);
    color: var(--wireframe-bg);

    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    border-radius: 25px;
}

.navbar-hamburger {
    display: none;
}

.navbar-hamburger a {
    color: var(--bronze);
    font-size: 1.25rem;
}

/* HeroPage */

#heroPage .container {
    gap: 4rem;
}

.title-text {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-top: 7.25rem;
}

.title-text h1 {
    width: 55%;
    color: var(--bronze);
}

.title-text h4 {
    width: 100%;
    color: var(--black);
}

.button-gambar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.button-daftar {
    display: flex;
    padding: 1rem 2.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 2.5rem;
    background: var(--crusta);
    color: var(--wireframe-bg);
    border: none;

    font-size: 1.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Benefit */
.benefit {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    color: var(--bronze);
}

.benefit-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.benefit-title .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    align-self: stretch;
}

.benefit-section-title {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 0.25rem;
    text-transform: uppercase;

    color: var(--crusta);
}

.benefit-title h3 {
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.benefit-section {
    display: flex;
    gap: 1.5rem;
    align-items: flex-start;
}

.benefit-item {
    display: flex;
    padding: 0rem 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
}

/* Penawaran */

.penawaran {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    color: var(--bronze);
}

.penawaran-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.penawaran-title {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.button-see-all {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    color: var(--crusta);

    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.button-see-all::after {
    content: '';
    color: var(--selective-yellow);
}

.mata-pembelajaran {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 1.25rem;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: center;
}

.card-mapel {
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    width: 100%;

    border-radius: 2rem;
    border: 2px solid var(--crusta);
    background: var(--selective-yellow);
}

.mata-pembelajaran .card-mapel {
    max-width: 392px;
}

.card-mapel-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    align-self: stretch;
}

.card-mapel-title {
    color: var(--bronze);
}

.card-mapel-body .harga {
    color: var(--bronze);

    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    text-align: center;
    margin: auto;
}

.button-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    align-self: stretch;
}

.button-detail-item {
    color: var(--crusta);

    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Footer */
footer {
    background-color: #FEFBF8;
    color: var(--bronze);
}

.footer-content-section {
    display: flex;
    align-items: flex-start;
    gap: 3.0625rem;
}

.footer-section-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.footer-section-title .footer-content-item {
    align-items: flex-start;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.footer-content-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.footer-sosmed {
    display: flex;
    padding: 0rem 0.75rem;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    flex-shrink: 0;

    margin: auto;
}

.footer {
    display: flex;
    padding: 8px 0px;
    justify-content: center;
    align-items: center;

    background: var(--bronze);
    color: white;
}

#heroPage {
    background-image: url("../img/bg/bg-hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#benefit {
    background-image: url("../img/bg/bg-benefit.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#penawaran {
    background-image: url("../img/bg/bg-penawaran.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

<<<<<<< HEAD
#penawaran .container {
    padding: 6rem 7rem;
}

#penawaranDetail {
    background-image: url("../img/bg/bg-3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    height: 100%;
}

#penawaranDetail .container {
    gap: 1.5rem;
}

#penawaranDetail .page-header {
    align-items: center;
}

=======
>>>>>>> parent of 19dc7e0 (update: profile setting, fix all pages)
@media screen and (max-width: 1024px) {
    h1 {
        font-size: calc(3.5rem * 0.9);
        font-weight: 700;
    }

    h2 {
        font-size: calc(2.188rem * 0.9);
        font-weight: 700;
    }

    h3 {
        font-size: calc(1.625rem * 0.9);
        font-weight: 600;
    }

    h4 {
        font-size: calc(1rem * 0.9);
        font-weight: 500;
    }

    h5 {
        font-size: calc(0.75rem * 0.9);
        font-weight: 400;
    }

    .text {
        font-size: calc(1.25rem * 0.9);
    }

    .container {
        padding: 4rem 4rem;
    }

    /* Navbar Responsive */
    .navbar-hamburger {
        display: inline-block;
    }

    .navbar {
        padding: 1rem 4rem;
    }

    .navbar-item,
    .navbar-button .button-daftar {
        font-size: calc(1.25rem * 0.9);
    }

    .navbar .navbar-menu {
        display: none;
        flex-direction: column;
        width: 33%;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: -1;
        gap: 1rem;
        padding: 1rem 4rem 1rem 0;
        align-items: flex-end;
        animation-name: slideLeft;
        animation-duration: 0.5s;
        background-color: white;
        box-shadow: #dfdfdf 2px 17px 6px 0px;
    }

    .navbar .navbar-button {
        display: none;
        flex-direction: column;
        width: 33%;
        position: absolute;
        top: 323%;
        right: 0;
        z-index: -1;
        gap: 1rem;
        padding: 1rem 4rem 1rem 0;
        align-items: flex-end;
        animation-name: slideLeft;
        animation-duration: 0.5s;
        background-color: white;
        height: 100vh;
        justify-content: flex-start;
        box-shadow: #dfdfdf 2px 17px 6px 0px;
    }

    .navbar-item:hover::after,
    .navbar-item:focus::after {
        opacity: 0;
    }

    @keyframes slideLeft {
        from {
            position: absolute;
            right: -50%;
            z-index: -2;
        }

        to {
            position: absolute;
            right: 0;
            z-index: -2;
        }
    }

    @keyframes slideRight {
        from {
            position: absolute;
            right: 0;
            z-index: -2;
        }

        to {
            position: absolute;
            right: -50%;
            z-index: -2;
        }
    }

    /* HeroPage */

    #heroPage .container {
        margin-top: 84px;
        gap: 2rem;
    }

    .title-text h1 {
        width: 100%;
    }

    .button-gambar img {
        max-width: 450px;
    }

    .button-gambar a {
        font-size: calc(1.875rem * 0.75);
    }

    /* Benefit */
    .container .benefit {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .benefit-item {
        align-items: center;
    }

    .benefit-title .title {
        align-items: center;
    }

    .benefit-title h3 {
        font-size: calc(1.625rem * 0.9);
    }

    .benefit-item img {
        width: calc(74px * 0.75);
    }

    .benefit-title img {
        width: calc(35px * 0.9)
    }

    /* Penawaran */
    .button-see-all {
        font-size: calc(1.875rem * 0.8);
    }

    .button-see-all img {
        max-width: 18px;
    }

    .mata-pembelajaran {
        justify-content: center;
    }

    .card-mapel {
        gap: 1rem;
        padding: 1rem;
    }

    /* .card-mapel img {
        max-width: 217px;
    } */

    .card-mapel-body {
        width: 100%;
    }

    .card-mapel-body h2 {
        font-size: 22px;
    }

    .card-mapel-body .text {
        font-size: 12px;
    }

    .card-mapel-body .harga {
        font-size: calc(25px * 0.75);
    }

    .button-detail img {
        max-height: 18px;
    }

    .button-detail-item {
        font-size: calc(1.5rem * 0.75);
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: calc(3.5rem * 0.75);
        font-weight: 700;
    }

    h2 {
        font-size: calc(2.188rem * 0.75);
        font-weight: 700;
    }

    h3 {
        font-size: calc(1.625rem * 0.75);
        font-weight: 600;
    }

    h5 {
        font-size: calc(0.75rem * 0.75);
        font-weight: 400;
    }

    .container {
        padding: 2rem 3rem;
    }

    /* Navbar */
    .navbar {
        padding: 1rem 3rem;
    }

    .navbar .navbar-menu,
    .navbar .navbar-button {
        padding: 1rem 3rem 1rem 0;
        width: 28%;
    }

    .navbar .navbar-button {
        top: 312%;
    }

    .navbar-item,
    .navbar-button .button-daftar {
        font-size: calc(1.25rem * 0.7);
    }

    /* HeroPage */
    #heroPage .container {
        margin-top: 84px;
    }

    .title-text {
        text-align: center;
    }

    .button-gambar {
        flex-wrap: wrap;
        justify-content: center;
        gap: 3rem;
    }

    .button-gambar img {
        max-width: 100%;
    }

    /* Benefit */

    .benefit-title img {
        width: calc(35px * 0.75)
    }

    /* Penawaran */
    .penawaran {
        gap: 3rem;
    }

    .penawaran-header {
        flex-wrap: wrap;
    }

    /* Footer */
    .footer-content-section {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .footer-section-title {
        align-items: center;
        text-align: center;
    }

    .footer-content {
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 428px) {
    h1 {
        font-size: calc(3.5rem * 0.5);
        font-weight: 700;
    }

    h2 {
        font-size: calc(2.188rem * 0.65);
        font-weight: 700;
    }

    h3 {
        font-size: calc(1.625rem * 0.7);
        font-weight: 600;
    }

    .text {
        font-size: calc(1.25rem * 0.7);
    }

    .container {
        padding: 1rem 2rem;
    }

    /* Navbar */
    .navbar {
        padding: 1rem 2rem;
    }

    .navbar img {
        max-width: 60px;
    }

    .navbar .navbar-menu,
    .navbar .navbar-button {
        padding: 1rem 2rem 1rem 0;
        width: 35%;
    }

    .navbar .navbar-button {
        top: 350%;
    }

    /* HeroPage */
    .button-gambar {
        gap: 2rem;
    }

    .button-gambar a {
        font-size: calc(1.875rem * 0.6);
    }

    .benefit-section-title {
        font-size: 18px;
    }

    /* Benefit */
    .benefit-title .title {
        gap: 1rem;
    }

    .benefit-title h3 {
        font-size: calc(1.625rem * 0.7);
    }

    .benefit-section {
        flex-wrap: wrap;
        justify-content: center;
    }

    .benefit-item {
        gap: 0.5rem;
    }

    .benefit-title img {
        width: calc(35px * 0.55)
    }

    /* Penawaran */
    .penawaran {
        gap: 2rem;
    }

    .penawaran-header {
        justify-content: center;
        gap: 1rem;
    }

    .penawaran-title {
        align-items: center;
        text-align: center;
    }

    /* Footer */
    .footer-section-title .footer-content-item img {
        display: none;
    }

    .footer-content-section {
        gap: 1rem;
    }

    .footer-content-section .footer-content-item img,
    .footer-sosmed img {
        max-width: 32px;
    }
}

@media screen and (max-width: 375px) {
    .container {
        padding: 1rem 1.5rem;
    }

    /* Navbar */
    .navbar {
        padding: 1rem 1.5rem;
    }

    .navbar .navbar-menu,
    .navbar .navbar-button {
        padding: 1rem 1.5rem 1rem 0;
        width: 35%;
    }
}

@media screen and (max-width: 320px) {

    .navbar .navbar-menu,
    .navbar .navbar-button {
        padding: 1rem 1.5rem 1rem 0;
        width: 40%;
    }
}

/* Login page */

#login-daftar {
    background-image: url("../img/bg/bg-login-daftar.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.container-login-daftar {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 8rem 16rem;
    margin-left: auto;
    margin-right: auto;
}

.card-login {
    display: flex;
    width: 100%;
    background-color: #FFFBF9;
    justify-content: center;
    flex-direction: column;
    padding: 4rem 8rem;
    gap: 2rem;
}

.card-login .card-header {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.card-login .card-header h1 {
    color: var(--bronze);

    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card-login .card-header h3 {
    color: var(--bronze);

    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.card-login .form {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.card-login .form .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    width: 100%;
    position: relative;
}

.card-daftar {
    background-color: #ffefdb;
    border-radius: 1.5rem;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.card-daftar-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8rem 0;
}

.card-daftar-image .logo {
    width: 168px;
    height: auto;
    margin-left: 8rem;
}

.card-daftar-image .illustration {
    position: absolute;
    top: 35%;
    left: 0%;
    width: 490px;
    height: auto;
}

.card-daftar-form {
    display: flex;
    width: 70%;
    justify-content: center;
    flex-direction: column;
    padding: 4rem 8rem;
    gap: 2rem;
    background-image: url("../img/bg/bg-3.png");
    border-radius: 1.5rem;
}

.card-daftar-form .card-header {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.card-daftar-form .card-header h1 {
    color: var(--bronze);

    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card-daftar-form .form {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.card-daftar-form .form .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    width: 100%;
    position: relative;
}

.card-daftar-form .form .button-daftar {
    cursor: pointer;
    width: 100%;
    display: flex;
    padding: 0.75rem 0.75rem;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    background-color: var(--crusta);
    border: none;

    color: var(--wireframe-bg);

    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card-daftar-form .form .form-group label {
    color: var(--black);

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.4px;
}

.login-with {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.platform-login {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.form-group label {
    color: var(--black);

    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

label.required::after {
    content: "*";
    color: red;
}

.form-group input {
    height: 48px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--crusta);
    padding: 0 1rem;
    background-color: transparent;
}

.form-group #togglePassword {
    position: absolute;
    top: 75%;
    left: 96%;
    cursor: pointer;
    transform: translateY(-50%);
}

.form-group #toggleConfirmPassword {
    position: absolute;
    top: 75%;
    left: 96%;
    cursor: pointer;
    transform: translateY(-50%);
}

.form .additional {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.additional .form-checkbox {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-shrink: 0;
    width: 100%;
}

.form-checkbox input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 1rem;
    border: 2px solid var(--silver);
    border-radius: 0.25rem;
}

.form-checkbox input[type="checkbox"]::before {
    content: "";
    width: 1rem;
    height: 1rem;
    clip-path: polygon(28.81% 44.91%, 42.89% 58.63%, 76.36% 24.28%, 84.73% 32.44%, 42.89% 75.37%, 20.44% 53.49%);
    transform: scale(0);
    background-color: var(--silver);
}

.form-checkbox input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.form-checkbox input[type="checkbox"]:hover {
    color: black;
}

.form-button {
    width: 388px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.form-button .button-login {
    cursor: pointer;
    width: 100%;
    display: flex;
    padding: 1rem 3rem;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    background-color: var(--crusta);
    border: none;

    color: var(--wireframe-bg);

    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.form-button .button-daftar {
    cursor: pointer;
    width: 100%;
    display: flex;
    padding: 1rem 3rem;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    border: 2px solid var(--crusta);
    background-color: transparent;

    color: var(--crusta);

    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Page Menu Pembelajaran */

#pageMenu {
    background-image: url("../img/bg/bg-3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    height: 100%;
}

#pageMenu .container {
    gap: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
}

@media screen and (max-width: 320px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
    }
}

.card-mapel .card-mapel-image img {
    width: 100%;
}

.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

#pageMateri .page-header,
#isiMateri .page-header {
    align-items: center !important;
}

.page-header-body {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.page-title {
    color: var(--bronze);

    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.profile-icon {
    width: 85px;
    height: 85px;
    align-items: center;
    display: flex;
}

/* Page Pemilihan Kelas */

#pagePemilihan {
    background-image: url("../img/bg/bg-3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    height: 100%;
}

#pagePemilihan .container {
    gap: 1rem;
}

.card-kelas {
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    border-radius: 24px;
    border: 2px solid var(--crusta);
    background: var(--selective-yellow);
}

.card-kelas-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.card-kelas-content h2 {
    color: var(--bronze);

    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.card-kelas-content p {
    color: var(--bronze);

    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Page Detail Kelas */

#pageDetailKelas {
    background-image: url("../img/bg/bg-3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    height: 100%;
    list-style: none;
}

#pageDetailKelas ul li {
    list-style: none;
}

#pageDetailKelas .container {
    gap: 1rem;
}

img.card-detail-image {
    width: 100%;
}

.class-detail-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.class-detail-content {
    color: var(--bronze);

    display: flex;
    gap: 1.5rem;
    padding-top: 0.5rem;
    flex-direction: column;
}

.class-detail-info h4 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.class-detail-info li {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -0.5px;
}

.detail-kelas-button {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

/* Page Transaksi */

#pageTransaksi {
    background-image: url("../img/bg/bg-3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    /* height: 100%; */
    height: 100%;
}

#pageTransaksi .container {
    gap: 1.75rem;
}

.detail-transaksi {
    border: 2px solid var(--bronze);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

table {
    width: 100%;
}

table td {
    width: auto;

    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.payment {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-bank {
    cursor: pointer;
    display: flex;
    padding: 0.75rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    border-radius: 20px;
    background: var(--crusta);
    border: none;

    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--wireframe-bg);
}

.bank {
    width: 100%;
    display: none;
    gap: 1.5rem;
    flex-direction: column;
}

.bank-item {
    display: flex;
    padding: 1.5rem;
    justify-content: space-between;
    align-items: center;

    border: 1px solid;
}

.bank-item-brand {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.bayar {
    display: none;
    justify-content: center;
}

.button-large {
    display: flex;
    padding: 1.5rem 2rem;
    justify-content: center;
    align-items: center;

    border-radius: 40px;
    background: var(--crusta);
    border: none;

    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--wireframe-bg);
}

.bank-item-radio {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.bank-item-radio input[type="radio"] {
    display: flex;
    width: 20px;
    height: 20px;
    padding: 2px;
    align-items: flex-start;
    border: 2px solid;
    border-radius: 50%;
    background-color: transparent;

    appearance: none;
}

.bank-item-radio input[type="radio"]::before {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: transparent;
    transition: 120ms background-color ease-in-out;
}

.bank-item-radio input[type="radio"]:checked::before {
    background-color: #000000;
}

.bank-item-radio h4 {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* Page Pembelajaran Aktif */

#pagePembelajaran {
    background-image: url("../img/bg/bg-3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    /* height: 100%; */
    list-style: none;
    height: 100%;
}

#pagePembelajaran ul li {
    list-style: none;
}

#pagePembelajaran .container {
    gap: 1.5rem;
}

.class-detail-content {
    padding-top: 0 !important;
}

.page-nav {
    display: flex;
    gap: 3rem;
}

.page-nav .page-nav-item {
    color: var(--bronze);

    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.page-nav-item::after {
    content: "";
    width: 0px;
    height: 8px;
    background: var(--selective-yellow);
    border-radius: 12px;
    display: block;
    opacity: 0;
    margin: 0 auto;

    transition: opacity 0.3s ease-in-out;
}

.page-nav-item:hover::after,
.page-nav-item:focus::after {
    width: 100%;
    opacity: 1;
}

.page-nav-item.active::after {
    width: 100%;
    opacity: 1;
}

.d-none {
    display: none !important;
}

.class-detail {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.learning-history {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card-learn-history {
    display: flex;
    padding: 1.5rem;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    border-radius: 2rem;
    background: var(--selective-yellow);
}

.card-learn-history-body {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.card-learn-history-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    color: var(--bronze);
}

.card-learn-history-content h2 {
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card-learn-history-content p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 32px */
    letter-spacing: -0.5px;
}

/* Page Materi Pembelajaran */

#pageMateri {
    background-image: url("../img/bg/bg-3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    height: 100%;
}

#pageMateri .container {
    gap: 1rem;
}

.materi {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.materi a {
    color: #000000;
}

.materi-item {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    border: 1px solid;
}

.materi-item-body {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

.materi-item-content {
    display: flex;
    flex-direction: column;

    color: var(--bronze);
}

/* Page Isi Materi */

#isiMateri {
    background-image: url("../img/bg/bg-3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    height: 100%;
}

#isiMateri .container {
    gap: 1.5rem;
}

.isi-materi-header {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.isi-materi-header-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.isi-materi-header-info .info-img {
    width: 76px;
    height: auto;
}

.isi-materi-img {
    border-radius: 1rem;
    border: 1px solid var(--crusta)
}

.next-bab {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10rem;
}

.card-next-bab {
    width: 240px;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background: var(--logo-secondary);
    color: var(--bronze);
    overflow: hidden;

    text-align: center;

    border-radius: 1rem;
}

.card-next-bab img {
    height: 162px;
    width: auto;
    object-fit: cover;
}

div.ujian {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2.5rem 0;
}

.ujian {
    background-image: url("../img/bg/bg-3.png");
    /* background-attachment: fixed; */
    background-position: bottom;

    display: flex;
    justify-content: center;
    bottom: 0;
}

a.back {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 0.5rem;

    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    color: #000000;
}

a.back img {
    rotate: 180deg;
    height: 1.5rem;
    width: auto;
}

a.next {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 0.5rem;

    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    color: #000000;
}

a.next img {
    height: 1.5rem;
    width: auto;
}

#pageEvaluasiPembelajaran {
    background-image: url("../img/bg/bg-3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    height: 100%;
}

#pageEvaluasiPembelajaran .container {
    gap: 1rem;
}

.evaluasi-header {
    color: var(--logo-primary);

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.evaluasi-header h3 {
    color: var(--bronze)
}

.evaluasi-img {
    width: 100%;
}

.evaluasi-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    color: var(--bronze)
}

.mulai-ujian {
    display: flex;
    justify-content: center;
}

/* Page Ujian */

#pageUjian {
    background-image: url("../img/bg/bg-3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    height: 100%;
}

#pageUjian .container {
    gap: 1rem;
}

.ujian-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-soal {
    width: 63%;
    /* padding: 1.5rem; */
    border-radius: 1rem;
    background: var(--logo-secondary);
    overflow: hidden;
}

.card-soal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    background-color: var(--crusta);
}

.time-count {
    display: flex;
    padding: 2px 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 8px;
    background: var(--Color-Silver, #C9C9C9);
}

.card-soal-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
}

.card-soal-body ol {
    margin-left: 1.5rem;
}

.radio-jawaban {
    display: flex;
    padding: 4px 1rem;
    gap: 1rem;
    border-radius: 8px;
    border: 1px solid var(--bronze);
    background: var(--white-lilac);
    align-items: center;
}

.radio-jawaban label {
    color: var(--bronze);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -0.5px;
}

.radio-jawaban input[type="radio"] {
    display: flex;
    width: 20px;
    height: 20px;
    padding: 2px;
    align-items: flex-start;
    border: 2px solid;
    border-radius: 50%;
    background-color: transparent;

    appearance: none;
}

.radio-jawaban input[type="radio"]::before {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: transparent;
    transition: 120ms background-color ease-in-out;
}

.radio-jawaban input[type="radio"]:checked::before {
    background-color: #000000;
}

.card-soal-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-soal-footer a.back,
.card-soal-footer a.next {
    color: var(--crusta);
}

.card-nomor {
    width: 35%;
    height: min-content;
    background-color: var(--logo-secondary);
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 1rem;
    border-radius: 1rem;
    align-items: center;
}

.card-nomor-body {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    justify-items: center;
}

.card-nomor-body .nomor {
    display: flex;
    width: 60px;
    height: 60px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 8px;
    background: var(--white-lilac);

    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    color: var(--bronze);
    cursor: pointer;
}

.card-nomor-body .nomor:focus {
    background: var(--crusta);
}

.selesai {
    margin-bottom: 1.5rem;
}

.button-selesai {
    cursor: pointer;
    display: flex;
    padding: 0.5rem 2rem;
    justify-content: center;
    align-items: center;

    border-radius: 2.5rem;
    background: var(--crusta);
    border: none;

    color: var(--wireframe-bg);

    /* Poppins/Text */
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 32px */
    letter-spacing: -0.5px;
}

/* Sertifikat */

#pageSertifikat {
    background-image: url("../img/bg/bg-3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    height: 100%;
}

#pageSertifikat .container {
    gap: 1.5rem;
}

.sertifikat {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
}

.sertifikat img {
    width: 448px;
}

.sertifikat-body {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.sertifikat-body {
    color: var(--bronze);
}

.sertifikat-button {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.sertifikat-button .button-lihat {
    cursor: pointer;
    display: flex;
    padding: 2rem 4rem;
    justify-content: center;
    align-items: center;

    border-radius: 2.5rem;
    border: none;
    border: 2px solid #616161;
    background: transparent;

    color: var(--crusta);

    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sertifikat-button .button-download {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 2rem 4rem;
    justify-content: center;
    align-items: center;

    border-radius: 2.5rem;
    border: none;
    background: var(--crusta);

    color: var(--wireframe-bg);

    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

<<<<<<< HEAD
/* Page Profile */

#pageProfile {
    background-image: url("../img/bg/bg-3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    height: 100%;
}

#pageProfile .container {
    gap: 1.5rem;
}

.profile-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profile-body {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    padding: 1.5rem;
    border: 1px solid #000;
    align-items: center;
}

.profile-body img {
    border-radius: 20px;
    border: 1px solid black;
}

.profile-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    padding: 1.5rem;
    border: 1px solid #000;
}

.profile-menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    border-bottom: 1px solid #000;
    padding: 0.75rem;

    color: black;
    /* Poppins/H3 */
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* Page Edit Profile */

#pageEditProfile {
    background-image: url("../img/bg/bg-3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    height: 100%;
}

#pageEditProfile .container {
    gap: 1.5rem;
}

.profile-edit {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 100%;
}

.profile-edit-sidebar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.profile-edit-menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 1rem;
    border: 1px solid #000;
}

.profile-edit-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}

.foto-profil {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 90%;
}

.foto-profil-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.foto-profil-header img {
    border-radius: 20px;
    border: 1px solid black;
}

.foto-profil-header button {
    cursor: pointer;

    display: flex;
    padding: 1rem 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    border: 1.5px solid black;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 228.571% */
    letter-spacing: 0.4px;
    color: black;
}

.foto-profil-body p {
    color: black;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 32px */
    letter-spacing: -0.5px;
}

.foto-profil-body ol li {
    margin-left: 1.5rem;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button-edit-profile {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.data-pribadi {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
}

.form-data-pribadi {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}

.form-data-pribadi-group {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.form-data-pribadi-group input,
.form-data-pribadi-group select,
.form-data-pribadi-group textarea {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #000;
    padding: 0.5rem 1rem;

    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 32px */
    letter-spacing: -0.5px;
}

/* Modal */
=======
/* Modal Daftar */
>>>>>>> parent of 19dc7e0 (update: profile setting, fix all pages)

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    left: 90%;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

#modalDaftar .modal-header,
#modalBayar .modal-header,
#modalUjian .modal-header,
#modalNilai .modal-header {
    background-color: transparent;
}

#modalDaftar .modal-content,
#modalBayar .modal-content,
#modalUjian .modal-content,
#modalNilai .modal-content {
    width: 50%;
    background-image: url("../img/bg/bg-3.png");
    padding: 2rem;
}

#modalDaftar .modal-body,
#modalBayar .modal-body,
#modalUjian .modal-body,
#modalNilai .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

#modalDaftar .modal-body h2,
#modalBayar .modal-body h2,
#modalUjian .modal-body h2,
#modalNilai .modal-body h2 {
    color: var(--bronze);

    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#modalDaftar .modal-body img,
#modalBayar .modal-body img,
#modalUjian .modal-body img,
#modalNilai .modal-body img {
    width: 240px;
}

#modalDaftar .modal-button,
#modalBayar .modal-button,
#modalUjian .modal-button,
#modalNilai .modal-button {
    display: flex;
    justify-content: center;
}